[
	# YouTyping
	"fiSLlg6rFtM"
	"pOHwVZc6QYY"
	"dMuIIKbgoGc"
	"WPNaCGQjDFc"
	"3dTWfuip5Ro"
	"m5v4VgC7auA"
	"fT_ru_wU2D8"
	"v5xs1xIk1i0"
	"4H_9itcwwFM"
	"JMJ3nUVM9bk"
	"k6-9LdItRq8"
	"0LG2nIsqhAg"
	"tdOE-NgfGKE"
	"bO5r5YJrgJY"
	"9Fiwc79_N9c"
	"DtJUzndPK6c"
	"N4wbgsFz7vE"
	"JZYTuTUBfFk"
	"2TKRRs9tjuI"
	"4_GsN43-IX8"
	"2o2H-8F4iqg"
	"mcty1jm1z7I"
	"KM_9zr7xkog"
	"kkCV24xkDes"
	"z4P63p7C674"
	"xEmZCdre77U"
	"8Vo2FCp__zI"
	"9SHgb9A0BDE"
	"DhhCevLX3A0"
	"RLZez82cp4w"
	"8nDl5vbRXbY"
	"BYk7v2ZaW9o"
	"zvuUgPLcivE"
	"yBVTzzFTJL8"
	"ZZ2IkhhXAEo"
	"f0REvsyLiFc"
	"47wn9hg4wws"
	"dOT_TSJCgwg"
	"p7wYbsSf484"
	"RVTnSx5dIKc"
	"3OiDXwSB3uc"
	"bxXqv1PfGpk"
	"3C2HUIAAPdM"
	"Uciz3ibXnPw"
	"uUoV7_yxwb0"
	"5qOp8pqBP1A"
	"De2c5h2nYSw"
	"ronGQxBCLEw"
	"Xa91dAOQtBs"
	"-OtG8NPIl9I"
	"L0fR2UFz72A"
	"vXhalDutCh4"
	"2dun6sN5bBA"
	"GgSkd3Plgr0"
	"emaY3LcUAMU"
	"UlVWqFi60Bc"
	"713CUSKDNbU"
	"MmK9nmMcwyk"
	"pgLkAmBZGAc"
	"8GMrg7d7AQk"
	"AP1cOBDRISI"
	"-QriBg23ogY"
	"juqybMFYByQ"
	"XwgkZimITeE"
	"SZ_c-mSZBfc"
	"lvHw9PqaQD0"
	"2KBjUZ_A4qE"
	"Y6NDX7OlKU4"
	"LxHvOBVnKy8"
	"CpxA6fTSCnw"
	"XfXp0Zl1KcM"
	"pwlgjeCJkc0"
	"XhFuw_lGuk8"
	"DtE9pMPfkoY"
	"osWXbe7MbGE"
	"tauBkwyzylo"
	"x88ov4k3el8"
	"2cPTUcnFX4k"
	"TpcDH3cv6r0"
	"KaOo73W_GS8"
	"imonnVcoqe8"
	"cM498Wn6Djg"
	"YOrrVZF5VUE"
	"VrRU06TWFtw"
	"QsLr_Mg6_VE"
	"IbNK9HGwccA"
	"HnN_fK3gYts"
	"0K4DbhAi1Vo"
	"HeGJv7s01ek"
	"7bJn2wXK-eI"
	"NaHx6oENn9s"
	"rStHdv6UI9A"
	"_XUJdTipeZ8"
	"h9SU0R4MPhI"
	"CLOKEQu96fc"
	"p0sxPOM7PIA"
	"JJYpyTB1MJc"
	"jqLHSvqaWdI"
	"pH5jwMPg6CI"
	"IF1_XGx74O8"
	"rlz5A2scO_g"
	"jHbR1wPeCaQ"
	"280sc16tiU4"
	"g4uIwsJXMRQ"
	"b1F656os78w"
	"uc4apmeK5FM"
	"upP8B4g0zWo"
	"AEIP6qqz0DE"
	"mpgvlJF9Qzg"
	"NlB6fmRce_g"
	"j6P_59Eo_uE"
	"so3u025bRLQ"
	"Na1nNsYX9ro"
	"lPcgQwiJ1mc"
	"Moj51qTB420"
	"fwM5dfqFN58"
	"BSUVnK6bn8Y"
	"mduCZbeImPk"
	"cNFODXwJVkM"
	"B3gxUM6xIXM"
	"PyVGVQCQqvs"
	"eRepgS0T5Us"
	"EOmBrFZ__nM"
	"pPRnEDSHKxw"
	"AqVoA9mU43M"
	"K_xTet06SUo"
	"Xvn0-kYfTD8"
	"mObH0baz4Bw"
	"RSQMYnTTZZQ"
	"FGG6PVhUhB8"
	"nrwoPgYNoUY"
	"dQAm9OZVhMk"
	"A1jZxkI9Dd4"
	"AnAghUtXXjQ"
	"XFGVdAiX9b8"
	"S6T61Kwbrck"
	"MdVYj078JGk"
	"BTj0aD4UnIA"
	"gLGyUa3OeGY"
	"XVCwzwxdHuA"
	"OmS8d-84tdg"
	"HE-G_t0fUHQ"
	"-LWNPKrMqjI"
	"WoIUUAT3lFc"
	"72pb78wRPIg"
	"zojY06rkfdY"
	"M0KG934lw2Y"
	"CpZG9pjAvFM"
	"tBFRHxaBxPA"
	"MNFVQ-EiP5g"
	"k7SgOZmxlX0"
	"wucrxLD2eAs"
	"hc08LP69lVM"
	"TtxxBUjkV8k"
	"7snBeht9jYU"
	"mRlPjF0-iIY"
	"QH2-TGUlwu4"
	"iOFZKwv_LfA"
	"PqJNc9KVIZE"
	"QwqZ3Yg3J54"
	"lpqyzriQidk"
	"2PqxOytUjz0"
	"0RU_05zpETo"
	"HOz-9FzIDf0"
	"EahYs-8tTjQ"
	"wjau2XZEH4A"
	"AKffZySqQts"
	"hEyvYm2YRXQ"
	"TQ1c5BkSEyk"
	"atWgGCB2mJ8"
	"l-7C4ONbRlo"
	"VTqQ6ZgjpNk"
	"8I0H1dXQxEo"
	"WiUjG9fF3zw"
	"EMGyiiTC7sg"
	"aPDaFGqMX4I"
	"0kSRyKPkC4w"
	"4b3-uwgV3IA"
	"8rqCABzT9Q8"
	"O9g1OyshIX4"
	"-y3BSoHOT9A"
	"HswIHVN5D4o"
	"FzpkAbuv6ug"
	"xGkxpkwtQ5I"
	"66upLgl3Gtw"
	"SNTltkuRiqw"
	"shmAGOTo824"
	"mCDB0QikUZc"
	"V_bQNPG2OyE"
	"D1HAsA0_tBQ"
	"iTKYHNRU59o"
	"HEn0o_UGnUQ"
	"Q9k63JbwmAI"
	"bu1oJaWChwE"
	"Xit2j_zX1xU"
	"BKcUx2FStYE"
	"1Xxnp0Q1GYQ"
	"qnX2CdOBcDI"
	"AeKRFZX5d8Y"
	"sHnvEsNU1X0"
	"-t3gg6NH_kA"
	"KXr5X2s8lAc"
	"08g1PMZgOzI"
	"4Yl4DO1F5CY"
	"lRya2Pclpy8"
	"uAb7d7V7GMw"
	"ODfip8xt1Aw"
	"pyzgN2DL4fY"
	"e_a7FGe_hxY"
	"8Z3TbMBfDM0"
	"9bRVnm6pUD8"
	"Ey_NHZNYTeE"
	"1st0XSY0VKQ"
	"BS1PwEC3T04"
	"aWyPbj1CItQ"
	"ZlyQu4LGyxo"
	"1gHHgx8bTxc"
	"DnLFVUi3oOU"
	"9DD6JvY06Ok"
	"n7pac86e8Ho"
	"wv2P0PLz9fw"
	"b6_Buws3bpw"
	"3bEikMqDd3M"
	"B-A2eYlbrwQ"
	"HJIFqUxi4ko"
	"SBKFxcyfdug"
	"fEcTEk9eQtc"
	"AqI97zHMoQw"
	"KgpROErtiBY"
	"sWvZfwY8beg"
	"GlBWvRslL2c"
	"U8nkAywsGfc"
	"gOrzlgiPkbc"
	"PmzfKSlv0ss"
	"4NShEKYoPXw"
	"cFbWl2aPdTk"
	"qXUdP2yPnug"
	"l7tqkjBKjkw"
	"uMLd3AaZn3Q"
	"-htsLEAtaKs"
	"yT_ylSCgY6Q"
	"_4BLiOP1aaY"
	"GkZjzdKp9V8"
	"aIRAOr8WbXY"
	"7diCjrDssAI"
	"Odjy0CHW9XI"
	"1JQxHLMRB1Q"
	"ARt2fVT33Lw"
	"Fmwq6gbrBB8"
	"243vPl8HdVk"
	"zweVJrnE1uY"
	"zZ-NG0kZURg"
	"l62uUZqz0Z8"
	"f5kUd72R_tg"
	"T6mMMYSqlM4"
	"y7509SHAozs"
	"GiPdefbPa0k"
	"Qql3c6OgGrM"
	"rmYU2ikxjpA"
	"79N1O0lF0GY"
	"ZBXfocss8N8"
	"yJTQuDCnMjg"
	"hNhD7uzepw4"
	"YgnuJLo9S-Y"
	"9d2iLvb3mwQ"
	"D4JXy4kYfIY"
	"a_mWyahWoUA"
	"d2H4DAG5jMs"
	"besBPu7L8GQ"
	"upRf3ZptSBw"
	"235s_Kkp0gc"
	"qybUFnY7Y8w"
	"p_2F2lKV9uA"
	"g2WpG1e2V9s"
	"ycyfMQ8BxGc"
	"dFf4AgBNR1E"
	"Mi9uNu35Gmk"
	"s_lcH_2nw-o"
	"MT_wFx9mLhM"
	"Eze6-eHmtJg"
	"51CH3dPaWXc"
	"J5Z7tIq7bco"
	"A_1t2Dkd2Io"
	"gU5oN0KVofU"
	"3hoGd_Ca2Cc"
	"guDmngrXdJ0"
	"HGieXRr6hHg"
	"V9JJyztJLLA"
	"cvj3-MZO9Tw"
	"AeMRXJtg500"
	"lkHlnWFnA0c"
	"OWSbfCPkTBk"
	"XlbrTlhX_Ww"
	"WdhMjzfg6-k"
	"yz84w2lInTo"
	"WWB01IuMvzA"
	"hC8KrIY8qT4"
	"5l6PRjYLYoU"
	"XO5UV3atrWc"
	"qEKFIpI6KTw"
	"fWNaR-rxAic"
	"WA4iX5D9Z64"
	"OjSXEV-Q5VY"
	"qT90jZP58jM"
	"WA_6kcUA_Ls"
	"MqNmKnCNLyM"
	"mF-Da9NXmb4"
	"j7CDb610Bg0"
	"7qRbggjn9rw"
	"naz0-szzYXk"
	"eGHDrlvypWg"
	"e_Sqa6OmP0o"
	"CYL3DnyA4e0"
	"ihNaFCEd0Ms"
	"K54CYowOqxM"
	"nbeGeXgjh9Q"
	"1WTy2yqKI4w"
	"KbiSxunJatM"
	"cMsGcW-xaYU"
	"kfqToOh7MVA"
	"94mVMzYoOJc"
	"srDLTzhXlNM"
	"3xGfJZ0VvqI"
	"-6oxY-quTOA"
	"t-OnXBHBmDU"
	"ZUeh21LsWg0"
	"3AmSTYY51P4"
	"vIdsE4Fuozs"
	"SrYP69gxDgY"
	"-4dwTHnjgYQ"
	"FlxQl7xsz1c"
	"vx88Kon0lzE"
	"ZpMbSzwhxoM"
	"YbDo8lczgEY"
	"07r67gGbtLQ"
	"teMdjJ3w9iM"
	"n0l0iLUgyPQ"
	"mTdcxQZcQAE"
	"MF2oi8wZSfQ"
	"QkkyPyeJBMQ"
	"uwwU55zBYlQ"
	"erGCAu_hFqM"
	"RffL0i5eszg"
	"b7Hx_NAFtcg"
	"1awua0YrSRs"
	"tZbXHt3xPr8"
	"3qNctircRAg"
	"mi3INrLXJ1Q"
	"kMMvc96AqPg"
	"ayL4pzictu8"
	"vS6wzjpCvec"
	"UU4Duu2UIJ8"
	"18OcE3mmqjM"
	"bNiLTsDIJg0"
	"TXzfQ0cP1P0"
	"CFyW6bHX79s"
	"rPECSTqQPYg"
	"lI7T7fbYj0w"

	# WORLD ORDER
	"_mkiGMtbrPM"
	"mCdoCFI-ILg"
	"wkwTPPDNawA"
	"IDAlZ7PDMDU"
	"oJUmMCWpZQQ"

	# from favorites
	"byAfC5yW_hw"
	"6SpqX8g4Kpk"
	"WF34N4gJAKE"
	"m-M1AtrxztU"
	"be-LbSaEzZQ"
	"MGt25mv4-2Q"
	"VJ5QvrGxTnQ"
	"ey4HWT7UkMs"
	"AFOwwTcxwgg"
	"uuvPvUmEzoE"
	"M8uPvX2te0I"
	"wlcYmPGgDYs"
	"xCa5wYpNKJQ"
	"jgXpncgjdqs"
]
